/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.window{
    background-color: #ff0000;
    height: 100vh;
}

.window article{
    flex-direction: column;
    width: 50%;
}

.window article > h1{
    text-transform: uppercase;
    text-align: center;
    color: #ffff00;
    font-weight: 900;
    font-size: 2.1rem;
    padding: 0 1rem;
}

.shoe img{
    width: 100%;
}

