/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html{
    scroll-behavior: smooth;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

body{
    font-family: sans-serif;
}

header{
    position: fixed;
    left: 0;
    right: 0;
}

.anchor{
    height: 50px;
    justify-content: flex-end;
}



.nav-button{
    width: 30%;
    justify-content: space-around;
}

.nav-button > a{
    background-color: white;
    height: 2rem;
    width: 2rem;
    border: black solid 1px;
    border-radius: 100%;
    font-size: 0.8rem;
    font-weight: 900;
    transition: border;
}

.nav-button > a:hover{
    border: black solid 2px;
}

.window{
    background-color: #ff0000;
    height: 100vh;
}

.window article{
    flex-direction: column;
    max-width: 80%;
}

.window article > h1{
    text-transform: uppercase;
    text-align: center;
    color: #ffff00;
    font-weight: 900;
    font-size: 3.5rem;
    padding: 0 1rem;
}

.shoe img{
    width: 100%;
}

#green-window{
    background-color: #008000;
}

#yellow-window{
    background-color: #ffff00;

}
#yellow-window h1{
    color: green;
}